@page
@model RocketMan.Web.Pages.Launch.Next.IndexModel
@{

}
<style type="text/css">
    .socialsharing a {
        text-align: center;
        display: inline-block;
        padding: .7em;
        line-height: 0;
        margin-bottom: 2em;
    }

    .socialsharing path { fill: gray; }

    .socialsharing svg {
        width: 24px;
        height: 24px;
    }
</style>
<div class="container-fluid">

    <h1>Next Launch</h1>
    <hr class="my-4">
    <h3>Mission: @Model.NextLaunch.MissionName</h3>
    <h3>Launchpad: @Model.NextLaunch.Launchpad</h3>
    <h3>Launch date: @Model.NextLaunch.LaunchDate.ToString("R")</h3>
    <div id="flipdown" class="flipdown"></div>

    @{ await Html.RenderPartialAsync("Shared/_SocialSharing", ViewData["Title"]); }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {


        // Unix timestamp (in seconds) to count down to
        var twoDaysFromNow = @Model.NextLaunch.LaunchDate.ToUnixTimeSeconds();

        // Set up FlipDown
        new FlipDown(twoDaysFromNow)

            // Start the countdown
            .start()

            // Do something when the countdown ends
            .ifEnded(() => {
                console.log('The countdown has ended!');
            });
    });
</script>